ENVIRONMENT=local
AWS_REGION=XXXX
AWS_ACCESS_KEY_ID=fake
AWS_SECRET_ACCESS_KEY=fake
AWS_SECRET_ACCESS_URL=http://localstack:4566
AWS_BUCKET_URL=http://localhost:8000/
S3_BUCKET_NAME="XXXX"
DATABASE_URL=mysql+pymysql://XXXXX:secret@mysql:XXXX/XXXX


SECRET_KEY=
ALGORITHM=XXXX
ACCESS_TOKEN_EXPIRE_MINUTES=30
ISSUER=http://localhost:8050

BASE_URL_FRONTEND=

SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

SQS_ENVIO_CORREO=http://localstack:4566/000000000000/envio-correo